{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
    {{ include('components/head.html.twig') }}
    {{ include('components/header.html.twig') }}
    <body>
        <div class="store">
            <h2>Looking for our store?</h2>
            <form class="store-btn" action="https://tuckersvalleyfurniture.com">
                <input type="submit" value="Go to Store"/>
            </form>
        </div>
    </body>
</html>